{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
          <div class="row">
            <div class="table-responsive">
                <table class="table align-items-center table-dark table-flush">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Date of birth</th>
                      <th scope="col">Rank</th>
                      <th scope="col">State</th>
                      <!-- <th scope="col">Completion</th>
                      <th scope="col"></th> -->
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in staffs %}
                    <tr>
                      <td>{{i.staff_name}}</td>
                      <td>{{i.date_of_birth}}</td>
                      <td>{{i.rank.rank}}</td>
                      <td>{{i.state.state_name}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
          </div>
        </div>
      </div>
    </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}